#home img{
  width: 40%;
  border-radius: 30%;
}

.img-cover {
  width: 100% !important;
  border-radius: 0% !important;
  height: 380px;
}

.description{
  width: 60%;
  display: inline-block;
}

.author-img{
  width: 40%;
  display: inline-block;
}