#home img{
  width: 40%;
  border-radius: 30%;
}

.img-cover {
  width: 100% !important;
  border-radius: 0% !important;
  height: 22em;
}

.description{
  width: 50%;
}

.author-img{
  width: 15%;
  height: 330px;
}

.about-hp{
  margin-right: 5em;
  margin-left: 5em;
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}