@import url('https://fonts.googleapis.com/css?family=Trade+Winds&display=swap');

body {
  margin: 0;
  font-family: 'Trade Winds';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: rgba(31, 16, 3);
}

li {
  padding: 20px;
}

li a{
  color: rgba(245, 245, 245, 0.685);
}

div ul li {
  font-size: 1.5em;
}